
<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Categoria</h2>
            <a href="/categoria/add" class="btn btn-success">+ Nova Categoria</a>
        </div>
<form method="post">
 <input type="text" name="pesquisar" placeholder="Nome da Categoria">
 <input type="submit" value="Buscar">
</form>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%categorias.forEach(categoria => {%>
                    <tr>
                        <td><%=categoria.nome%></td>
                        <td><%=categoria.descricao%></td>
                        <td><a href="/categoria/del/<%=categoria.id%>" class="link">Excluir</a></td>
                        <td><a href="/categoria/edt/<%=categoria.id%>" class="link">Editar</a></td>
                    </tr>
                    <%})%>
                    
                </tbody>
            </table>
        </div>
    </main>

<%- include('../rodape.ejs')%>
