<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Editar Medicamento</h3>
      </header>
      <div class="content">
        <form id="form-instrumento" method="post" autocomplete="off" >
          <div class="grid">
            <div>
              <label for="nome">ID do Medicamento</label>
              <input id="id" value="<%=medicamento.id%>" name="id" type="text" required>
            </div>
            <div>
              <label for="nome">Nome do Medicamento</label>
              <input id="nome" value="<%=medicamento.nome%>" name="nome" type="text" required>
            </div>
            <div>
              <label for="nome">Fabricante do Medicamento</label>
              <input id="nome" value="<%=medicamento.fabricante%>" name="fabricante" type="text" required>
            </div>
            <div>
              <label for="nome">Preço do Medicamento</label>
              <input id="nome" value="<%=medicamento.preco%>" name="preco" type="number" placeholder="Em R$" required>
            </div>
            <div>
              <label for="nome">É Controlado?</label>
              <input id="nome" value="<%=medicamento.controlado%>" name="controlado" type="text" placeholder="(Sim/Não)" required>
            </div>
            <div>
              <label for="nome">Quantidade no Estoque</label>
              <input id="nome" value="<%=medicamento.quantidade%>" name="quantidade" type="number" required>
            </div>
           <div class="field-help">Os campos com * são obrigatórios.</div>
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/medicamento/lst">Cancelar</a>
            <button type="submit" class="btn primary">Editar Medicamento</button>
          </footer>
        </form>
      </div>

  <%-include('../rodape.ejs')%>